/* style add for all element */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: white;
}a:hover{
  color: white;
}

/* style for body */
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(220, 236, 211, 0.22);
  color: #000;
}

/* style root div */
#root{
  width: 90%;
  /* border-right: 1px solid #323232;
  border-left: 1px solid #323232; */
}

/* style navbar component ---------------------------------*/
.navbar{
  align-items: center;
  display: flex;
  height: 100px;
  padding: 0px 20px;
  justify-content: space-around;
  border-bottom: 1px solid #000;
}

.navbar h3 {
  font-size: 1.5rem;
}

.navbar h3 i{
  font-size: 17px;
  /* background-color: #ecd3d3; */
  color: #000;
}

.right-nav{
  display: flex;
  align-items: center;
}
.right-nav h5{
  color: rgba(8, 15, 7, 0.61);
  margin: 2px 10px 0 0;
  font-size: 1.2rem;
}
.addhabit-btn{
  cursor: pointer;
  color: #2c9013;
  background-color: #f0f9ed;
  padding: 8px 20px;
  border-radius: 7px;
}

.addhabit-btn i{
  font-size: 15px;
}

/* modal */
.modal-content{
  background-color: #fff;
}
.modal-header{
  border: none;
}
.modal-footer{
  border: none;
}
/* ---------------------------------------------------- */

/* habits components style------------------------------ */
.habits{
  width: 100%;
}

/* habit under habits component */
.habit{
  width: 100%;
  height: 100px;
  margin: 4px 0px;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  border-radius: 30px;
}
.habit:hover{
  background-color: #fff;
}

.habit-left{
  display: flex;
  align-items: center;
}
.habit-left i{
  /* color: #2AA8D0; */
  color: #000;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(220, 236, 211, 0.22); 
  margin-right: 10px;
  border-bottom: 1px solid #000;
  font-weight: 100;

}
.day-complete{
  color: #767475;
  font-size:small;
}
.habit-right{
  display: flex;
  align-items: center;
}
.log-btn{
  text-decoration: none;
  cursor: pointer;
  background-color: #2c9013;
  padding: 10px;
  border-radius: 7px;
  margin-right: 10px;
  color: white;
  border: none;
}
.log-btn:hover{
  background-color: #e6f7e6;
  color: #2c9013;
  border: 1px solid #2c9013;
}
.log-btn i{
  margin-right: 5px;
}
.fa-trash{
  cursor: pointer;
  padding: 10px;
  color: #424242;
}

.fa-trash:hover {
  cursor: pointer;
  padding: 10px;
  color: red;
}
/* ------------------------------------------------------*/

/* style week view container --------------------------- */
.days-container{
  margin: 20px 0px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* style day view component */
.day-container{
  height: 100px;
  width: 150px;
  background-color: #f0f9ed;
  border-radius: 20px;
  padding: 5px;
  border: 1px solid #000;
}

.day-container i{
  font-size: 24px;
  margin: 5px 11px;
  cursor: pointer;
}

.back-btn{
  width: 50%;
  margin: auto;
  color: #fff;
  background-color: #d7110b;
  border: none;
  border-radius: 10px 40px 40px 10px;
  padding: 10px 20px;
}

.back-btn i{
  margin-left: 1px;
  font-size: 12px;
}

/* .back-btn:hover{
  background-color: #fff;
  color: #0B5ED7;
} */

p{
  margin: 0%;
}

.active{
  color: #2c9013 ;
}
/* ------------------------------------------------------*/